{% extends '_layout.jinja2' %}
{% block parameter %}
    <div class="row">
        <div class="col-md-3">
            <!--  Keyword control -->
            <div class="form-group" data-toggle="tooltip" title="Enter Keywords separated by comma">
                <label class="control-label" for="keywords">Schlüsselwörter:</label>
                <div class="input-group controls">
                    <input type="text" class="form-control" data-provide="typeahead" id="keyword_form_first" placeholder="Schlüsselwort">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button" id="keyword_form_button">Go!</button>
                        </span>
                </div>
                <button type="button" class="btn btn-info btn-sm add" style="margin-top: 2px;">+</button>
                <button type="button" class="btn btn-info btn-sm rem" style="margin-top: 2px;">-</button>
            </div>
        </div>

        <!-- Display limit control -->
        <div class="col-md-2">
            <div class="form-group" data-toggle="tooltip" title="Anzahl der Begriffe die angezeigt werden sollen">
                <label class="control-label" for="display_limit">Anzahl der Begriffe:</label>
                <input class="form-control" id="display_limit_form" type="number" value = "40" placeholder="40">
            </div>
        </div>


        <div class="col-md-4">
            <label class="control-label" for="options">Part of Speech:</label>
            <div class="well well-sm col-md-12">
                <div data-toggle="tooltip" title="Part-of-Speech Einstellung">
                    {% for tag in pos_tags | sort(-1) %}
                      <div class="col-md-3">
                      <label class="checkbox-inline"  for="{{ tag }}">
                        <input type="checkbox" id="c-{{ tag }}" class="c-pos" checked /> {{ tag }}
                      </label>
                       </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <label class="control-label" for="options">Sonstige Optionen:</label>
            <div class="well well-sm col-md-12">
                <div class="col-md-12">
                <label class="checkbox-inline" for="include" data-toggle="tooltip" title="Betrachte Twitter-Nachrichten nach dem Wahltag am 22.09.2013">
                    <input type="checkbox" id="c-include" class="c-opts" checked> betrachte twitter-nachrichten nach der btw
                </label>
                </div>
                <div class="col-md-12">
                <label class="checkbox-inline" for="only_names" data-toggle="tooltip" title="Zeige nur Namensentitäten wie Personen und Organisationen an">
                    <input type="checkbox" id="c-only_names" class="c-opts"/> nur namentsentitäten
                </label>
                </div>

            </div>
        </div>
    </div>

{% endblock parameter %}

{% block parameter_advanced %}
    <!-- Co-occurrence measure control -->
    <div class="col-md-2">
        <div class="form-group" data-toggle="tooltip" title="Statistisches Wortassoziationsmetrik">
            <label class="control-label" for="measures">Wortassoziationsmetrik:</label>
            <select class="form-control" id="measures_form">
                {% for id, description in measures %}
                    <option value="{{ id }}"> {{ description }} </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Minimal edge weight control -->
    <div class="col-md-2">
        <div class="form-group" data-toggle="tooltip" title="Threshold for retrieving words">
            <label class="control-label" for="edge_weight">Kantengewicht:</label>
            <input class="form-control" id="edge_weight_form" type="number" value = "3" placeholder="3">
        </div>
    </div>

    <!-- Overlap display limit control -->
    <div class="col-md-2">
        <div class="form-group" data-toggle="tooltip" title="Anteil der Begriffe im Schnitt in Prozent">
            <label class="control-label" for="overlap_limit">Anteil der Begriffe im Schnitt in Prozent:</label>
            <input class="form-control" id="overlap_limit_form" type="number" value = "25" placeholder="25" min="0" max="100">
        </div>
    </div>

    <!-- Freq. Word A control -->
    <div class="col-md-2">
        <div class="form-group" data-toggle="tooltip" title="Schwellwert für die Frequenz des ersten Schlüsselwortes">
            <label class="control-label" for="frequency_word_a">Wortfrequenz A:</label>
            <input class="form-control" id="frequency_word_a_form" type="number" value = "3" placeholder="3">
        </div>
    </div>

    <!-- Freq. Word B control -->
    <div class="col-md-2">
        <div class="form-group" data-toggle="tooltip" title="Schwellwert für die Frequenz des zweiten Schlüsselwortes">
            <label class="control-label" for="frequency_word_b">Wortfrequenz B:</label>
            <input class="form-control" id="frequency_word_b_form" type="number" value = "3" placeholder="3">
        </div>
    </div>

    <!-- Freq. Word B control -->
    <div class="col-md-2">
        <div class="form-group" data-toggle="tooltip" title="Schwellwert für die Frequenz der Wörter im Schnitt">
            <label class="control-label" for="frequency_word_ab">Wortfrequenz AB:</label>
            <input class="form-control" id="frequency_word_ab_form" type="number" value = "3" placeholder="3">
        </div>
    </div>
{% endblock parameter_advanced %}

{% block graph %}
    <div id="graph" style="text-align: center"></div>
{% endblock graph %}

{% block modals %}
    <div id="edit_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit_modal_header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" >Diagramm bearbeiten</h3>
                </div>
                <div class="modal-body">
                    <table id="edit_table" class="table table-hover table-striped">
                    <tr>
                        <th>#
                        <th>Begriff
                        <th>Entfernen
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" id="edit_save_button" class="btn btn-primary" data-dismiss="modal">Speichern</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>

    <div id="help_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help_modal_header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Hilfe zu den Konfigurationsparametern</h3>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#normal"  data-toggle="tab">Standard Modus</a></li>
                        <li><a href="#advanced"  data-toggle="tab">Erweiterter Modus</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="normal">
                            <dl style="margin-top: 10px;">
                                 <dt>Schlüsselwörter: </dt>
                                 <dd>
                                     Die beiden Eingabefelder erwarten jeweils einen Politiker oder eine Partei, für welche eine kontrastive Kollokationsanalyse durchgeführt werden soll.
                                     Mit Hilfe des Buttons, auf dem ein Minuszeichen abgebildet ist, kann ein Eingabefeld entfernt werden, um eine Analyse mit nur einer Entität durchzuführen.
                                     Analog erzeugt der Button mit dem Pluszeichen ein neues Eingabefeld für die kontrastive Analyse. Das Eingabefeld ist außerdem mit einer Autovervollständigungsfunktion ausgestattet,
                                     welche Spitzenkandidaten dieser Bundestagswahl unterstützt. Durch betätigen des Go-Buttons, wird die Anfrage an den Server übermittelt und anschließend das Ergebnis visualisiert.
                                 </dd>
                                 <dt>Anzahl der Begriffe: </dt>
                                 <dd>
                                    Dieses Feld reguliert die Gesamtanzahl der angezeigten Wörter in der Analyse.
                                    Die Obergrenze liegt bei 200 Begriffen, da mehr Wörter nicht überschneidungsfrei auf durchschnittlichen Monitoren dargestellt werden können.
                                 </dd>
                                 <dt>Part-of-Speech: </dt>
                                 <dd>
                                     Diese Option ermöglicht es, verschiedene Wortklassen von der Analyse auszuschließen. In der Standardeinstellung werden alle Wortklassen betrachtet.
                                     Diese Wortklassen repräsentieren neben herkömmlichen Wortarten (z.B. Verben, Nomen und Adjektive) auch  Standorte, die in Zusammenhang mit der untersuchten Entität stehen.
                                     Außerdem werden twitterspezifische Klassen wie Hashtags und Usernamen unterstützt.
                                 </dd>
                                 <dt>Sonstige Optionen: </dt>
                                 <dd>
                                     Zum einen können Tweets nach der Bundestagswahl am 22. September in die Auswertung der Analyse aufgenommen werden. Diese Funktion ist nützlich für Untersuchungen,
                                     die speziell auf Auswirkungen vor und nach dem Wahlkampf fokussiert sind. Zum anderen bietet der zweite Schalter die Möglichkeit, die Analyse auf Namensentitäten zu beschränken.
                                     Dadurch werden nur Politiker angezeigt, die mit dem gegebenen Politiker oder der gegebenen Partei stark assoziiert sind.
                                 </dd>
                            </dl>
                        </div>

                        <div class="tab-pane" id="advanced">
                            <dl style="margin-top: 10px;">
                                     <dt>Wortassoziationsmetriken: </dt>
                                     <dd>
                                         Hier kann das Wortassoziationsmaß variiert werden. Dieses Maß bestimmt, welche Wörter für die zu untersuchenden Entitäten in die Ergebnisse aufgenommen werden sollen.
                                         Es existiert außerdem eine starke Abhängigkeit zu anderen Parametern, wie  der Wortfrequenz. Das bedeutet, das Ändern dieses Maßes kann es erforderlich machen,
                                         andere Parameter entsprechend anzupassen.
                                     </dd>
                                     <dt>Kantengewicht: </dt>
                                     <dd>
                                        Dieser Parameter repräsentiert einen Schwellwert für das minimale Kantengewicht zwischen der gegebenen Entität und dem stark assoziierten Wort. Ein minimales Kantengewicht von drei bedeutet, dass beide Wörter mindestens dreimal als Bigramm im Korpus enthalten sein müssen.
                                     </dd>
                                     <dt>Wortfrequenz A und B: </dt>
                                     <dd>
                                         Die Wortfrequenz bestimmt, wie häufig ein Wort im Korpus enthalten sein muss, um in die Ergebnisse aufgenommen zu werden.
                                         Dieser Parameter ist wichtig für die Verwendung mit dem \ac{PMI} Maß und kann genutzt werden, um seltene Bigramme aus dem Ergebnis zu entfernen.
                                     </dd>
                                     <dt>Wortfrequenz AB: </dt>
                                     <dd>
                                         Dieser Parameter reguliert explizit die Frequenz der Wörter im Schnitt der Analyse.
                                     </dd>
                                     <dt>Anteil der Begriffe im Schnitt: </dt>
                                     <dd>
                                         Diese Einstellung kontrolliert den Anteil der Gemeinsamkeiten zwischen den betrachteten Entitäten. Der Wert 25 bedeutet, dass mindestens 25 Prozent der Menge an Wörtern im Ergebnis Gemeinsamkeiten repräsentieren müssen.
                                    </dd>
                                </dl>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>


{% endblock modals %}


{% block about %}

    <div class="jumbotron">
      <div class="container">
        <h1>#BTWitter - Kontrastive Kollokationsanalyse</h1>
        <p>Diese Webseite stellt meine Bachelorarbeit zum Thema "Analyse der Bundestagswahl 2013 mit Twitter" vor. Es wird eine neuartige Methode vorgestellt, die es ermöglicht zwei Politiker oder Parteien zu vergleichen.
            Untersucht werden Gemeinsamkeiten und Unterschiede der Parteien oder Politiker.
            Diese kontrastive Kollokationsanalyse basiert auf den aggregierten Twitter-Nachrichten der Wahl und kann mit Hilfe dieser Webanwendung durchgeführt und visualisiert werden.   </p>
        <p><a class="btn btn-primary btn-lg" role="button" id="learn_more_button">Erfahren Sie mehr &raquo;</a></p>
      </div>
    </div>

    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#usage_collapse">Anleitung</a>
                    </h4>
                </div>
                <div id="usage_collapse" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#author_collapse">Author</a>
                    </h4>
                </div>
                <div id="author_collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                       Uli Fahrer ist ein Informatik-Student an der <a title="Technische Universität Darmstadt" href="http://www.tu-darmstadt.de/" target="_blank">Technische Universität Darmstadt</a>.
                       Seine Interessen sind Web Mining, Software Engineering und Natural Language Processing. Er veranstaltet den  <a title="Programmiervorkurs" href="http://d120.de/vorkurs/" target="_blank">Programmiervorkurs</a> an der TU Darmstadt für Studenten im ersten Semester.
                       Der Kurs richtet sich an alle Studenten, die bisher keine oder nur sehr begrenzte Erfahrungen mit dem Programmieren gemacht haben und diese schon vor Beginn des Studiengangs Bachelor of Science Informatik erwerben möchten.
                       Außerdem arbeitet er als Hiwi für die <a title="Software Technology Group" href="http://www.stg.tu-darmstadt.de/" target="_blank">Software Technology Group</a> mit den Schwerpunkten auf eine intelligente Code-Completion.
                       Zusätzlich zu diesen Aktivitäten ist er stellvertretender Vorsitzender des <b>F</b>örderverein für <b>C</b>omputerspiele<b>E</b>ntwicklung e. V (kurz FCE), welcher die <a href="http://devmania.net/" target="_blank">Devmania</a> in Mainz organisiert.
                       Dies ist ein jährliches Zusammentreffen von Spieleentwicklern und Nachwuchstalenten.
                    </div>
                </div>
            </div>
        </div>


      <div class="row">
        <div class="col-md-4">
          <h2>Bachelor-Thesis</h2>
          <p>Diese Bachelor-Thesis beschreibt eine Methode, die auf Wortkollokationen basiert und zwei Schlüsselwörter anhand ihrer stark assoziierten Wörter kontrastiert.
              Das Konzept wird verwendet, um zu untersuchen, wie Ereignisse der realen Welt in Twitter reflektiert werden. </p>
          <p><a class="btn btn-default" href="{{ url_for('static', filename='files/thesis_final_uf.pdf') }}" role="button">Download &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Poster</h2>
          <p>Hierbei handelt es sich um das Poster zu dem auf den Informatiktagen eingereichten Beitrag mit dem Thema "Contrastive Co-occurrence Analysis on Twitter for the German Election 2013".
          Das Poster beschreibt schematisch die Idee und Umsetzung der Analyse.</p>
          <p><a class="btn btn-default" href="{{ url_for('static', filename='files/Poster_Informatiktage_Fahrer_2503.pdf') }}" role="button">Download &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Paper Informatiktage 2014</h2>
          <p>Die <a title="Informatiktage" href="http://informatiktage.gi.de/" target="_blank">Informatiktage</a> ist eine Veranstaltung, organisiert durch die Gesellschaft für Informatik.
          Es gibt zahlreiche Vorträge, Diskussionsrunden, Workshops, eine Postersession und die Möglichkeit neue Kontakte zu schließen und bestehende zu vertiefen.</p>
          <p><a class="btn btn-default" href="{{ url_for('static', filename='files/workshop_paper.pdf') }}" role="button">Download &raquo;</a></p>
        </div>
      </div>
    </div>

{% endblock about %}

